
@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@*<h2>Index</h2>*@
<h2>Редагування даних сутностей ПО "Пацієнти"</h2>

<div class="row panel">
    @Html.ActionLink("Пацієнт",
            "Index", "PatcientCrud", null,
            new { @class = "btn btn-block btn-default btn-lg" })
</div>

<div class="row panel">
    @Html.ActionLink("Хвороби",
            "Index", "DiscaseCrud", null,
            new { @class = "btn btn-block btn-default btn-lg" })
</div>
