@model IEnumerable<PatcientInfo.Web.Models.PatcientTableModel>
@{
    ViewBag.Title = "Selection";
}



<div class="row panel">
    <div id="parameters" class="col-sm-2">
        <h3>Параметри</h3>
        @Html.Partial("_SelectionForm")
    </div>
    <div class="col-sm-10">
        <h2>Пацієнт</h2>
        <table class="table">
            <thead>
                @Html.Partial("_TableHead", @Model)
            </thead>
            @*<tbody>*@
            <tbody id="data">
                @Html.Partial("_TableBody", @Model)
                @*@Html.Action("_SelectData")*@
            </tbody>
        </table>
    </div>
</div>



<div>
    @Html.ActionLink("Назад", "Index")
</div>

