
@{
    ViewBag.Title = "Index";
}

<h2>Пацієнт</h2>
<h4>
    Пацієнт (лат. patiens) — людина, яка отримує медичну допомогу ( лікування, медичне спостереження чи здійснюється медична діагностика).

    Згідно з сучасними концепціями розвитку медсестринства, для медичного працівника будь-якого рівня етичною нормою є використання терміну пацієнт замість застарілого хворий. Правовою нормою у юрисприденції також є поняття пацієнт, трактоване дещо ширше.
</h4>

@section Footer {
    @DateTime.Now.ToLongTimeString()
}
